html {
    font-size: 62.5%; /* Reset para REMS -> 62.5% = 10px de 16px */
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
}
.contenedor { /** Globales **/
	max-width: 120rem; /* = 1200px */ /*toma todo el espacio disponible siempre y no se pase de 1200px*/
	margin: 0 auto; /* para que este centrado el contenido en lo que es de pagina */
}

/* Header */
.site-header.inicio {
	background-image: url(../img/header.jpg); /* para agregar la imagen de fondo */
	background-position: center center; /* Para mostrar la imagen desde el centro */
	background-size: cover; /* Para que tome el alto y ancho disponible, pero guardando las proporciones*/
	height: 100vh; /* Para agregar la toda la altura de pantalla */
	min-height: 60rem; /* Para agregar la altura min */
}

.barra {
	display: flex; /* Para empezar a utilizarlo como flex */
	justify-content: space-between; /*Para alinearlo el logo a la izquieda y el nav a la derecha*/
	padding-top: 3rem; /* Para agregar una separacion y empujar hacia abajo el logo*/
    align-items: center; /** Para alinear verticalmente los elementos **/
}

/** Navegacion **/
.navegacion a { /* selecciona a todos los "a" de la clase navegacion */
	color: white; /* el rgba usa transparencia y el hsla tambien */
	text-decoration: none; /* le quita la linea abajo al texto */
	font-size: 2.5rem;
	margin-right: 2rem; /* separando cada uno de los elementos */
}

.navegacion a:hover {
	color: orange; 
}

.navegacion a:last-of-type { /*es un peudo selector que le quita el margen al ultimo elemento */ 
	margin-right: 0;
}
